@media only screen and (min-width: 37.5em) {
header{ font-size: 1rem;}
header img{ margin-left: 2rem;}
header h2{ margin-left: 2rem;}

/*--------------navigation-------------------*/

.hamburger { display: none;	}
.navigation {overflow: hidden; text-align: center; font-size: 1.5rem; }
.navigation li { display: inline-block; margin-left: .25rem;}
.navigation a {	display: block;	color: #cc0000;	padding: .5rem;	text-align: center;	text-decoration: none;}
.navigation a:hover {	color: #000; background-color: #ffb3b3;	}
    
/*--------------navigation end-------------------*/

 main > .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3em;
        padding: 3%;
    }
    
 .box1, .box5, .box6{
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 95%; 
        grid-column-gap: 0.5em;
}

    .box1-text, .box5-text, .box6-text{
        font-size: 0.8em;
        text-align: left;
        
    }
    .box2{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .box3, .box4{
        max-width: 90%;
        background-color: #f5efef;
}
    
    .box5-text, .box6-text{
       color: #a34747;
        font-size: 1.2em
    }

}